<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VNCustomControlDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ABBD8FDC1F441777006D9B84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABBD8FF01F441778006D9B84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABBD8FFB1F441778006D9B84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
